1) Номер на порт на Apache module - 80
2) Номер на порт на MySql module - 3307
3) име на базата данни на системата - web_project
4) Регистрация
	4.1) Потребителското име - максимум 20 символа
	4.2) Имейл - валиден имейл формат отговарящ на регекса - ^[a-z0-9_]+@[a-z]+\.[a-z]+$
	4.3) Парола - паролата трябва да е поне 3 символа
5) Редове , колони на матриците - числа >= 1 
6) При създаване на паркомясто , номера който задаваме , трябва да е уникален за всички парко места , не само за конкретния факултет.
7) Администраторски акаунт
	7.1) потребителско име - admin
	7.2) парола - 12345
8) Regular акаунт
	8.1) потребителско име - regular_student
	8.2) парола - 12345
8) Teacher акаунт
	8.1) потребителско име - teacher
	8.2) парола - 12345
9)Създаването на паркомясто става само при въвеждането на коректни данни
 	9.1) Времето "от" трябва да е по-голямо или равно на текущото при положение че резервираме за днес
	9.2) Не може да резервираме за минали дни, тоест не може да направим резервация за 24.06.2023 при положение че сме 26.06.2023
	9.3) Трябва всички полета да са попълнени - от , до , номер на кола
	9.4) Трябва максималното време на всеки един вид потребител да бъде спазено.
		9.4.1) Потребител с роля "regular_user" има право на 30 минути продължителност на резервация
		9.4.2) Потребител с роля "teacher" има право на 120 минути продължителност на резервация.
	9.5) Не трябва резервацията да застъпва резервация на друг човек.