div.container {
    width: 100%;
    border: 2px solid black;
}

div.box {
    box-sizing: border-box;
    width: 50%;
    border: 5px solid red;
    float: left;
}  

p {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

